@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
}

body {
    background-color: #D7D7DD;
}

header {
    background: #202846;
    height: 9rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: 700;
    position: sticky;
    overflow: auto;
    top: 0;
    z-index: 99;
}

header div {
    display: inline-block;
}

.header__icon {
    height: 7rem;
    width: 20%;
}

.header__icon-img {
    padding-left: 5rem   ;
    height: 100%;
}

.header__menu {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__menu-item {
    font-size: 2.4rem;
    width: 17%;
    text-align: center;
}

.header__menu-item a {
    text-decoration: none;
    color: white;
}

.header__menu-item a:hover{
    color: #AEAEE2;
}

.header__lang {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__lang-img {

}

.header__lang-text {
    font-size: 2.8rem;
    margin-left: .5rem;
}

.main__selector {
    text-align: center;
    font-size: 2.8rem;
    margin: 56px 0;
    background-color: #E8E8E8;
    padding: 2rem;
    position: relative;
}

.main__selector-img {
    position: absolute;
    right: 18px;
    top: 24px;
}

.main__section-header {
    height: 14rem;
    background: #C6C6DC;
    font-size: 4.8em;
    font-style: italic;
    padding: 4rem 20rem;
    box-sizing: border-box;
}

.main__section-content-booking {
    width: 80%;
    margin-left: 10%;
}

.card{
    height: 30rem;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 36px 0;
    /*min-width: 1390px;*/
}

.card:hover {
    background-color: #AEAEE2;
}

.card__img{
    width: 35%;
    height: 80%;
    overflow: hidden;
}

.card__img img{
    height: 100%;
}

.card__content{
    width: 50%;
    height: 80%;
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.card__content-description{
    font-size: 2.2rem;
    text-align: center;
    background-color: #D7D7DD;
    padding: 2.2rem;
    max-height: 50%;
    overflow: auto;
}

.card-star, .card-btn{
    position:absolute;
}

.card-star{
    right: 1rem;
    top: 1rem;
    fill: white;
}

.card-star:hover {
    fill: #FFFF00;
}

.card-btn{
    bottom: 10px;
    right: -45px;
    width: 200px;
    padding: 1.5rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    text-align: center;
    border-radius: 50px;
}

.card-btn:hover{
    background-color: #EF075B;
}

.main__section-personal-cabinet {
    background-color: #BDBDC6;
    width: 70%;
    margin: 41px 0 41px 15%;
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__pc-avatar {
    width: 20%;
}

.main__pc-avatar-photo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.main__pc-avatar-btn {
    padding: 1.5rem 0;
    background-color: #484A54;
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    text-align: center;
    border-radius: 50px;
    margin: 1rem 0 1rem 0;
    display: block;
}

.main__pc-avatar-btn:hover {
    background-color: #69749B;
}

.main__pc-info {
    width: 65%;
}

.main__pc-info a {
    text-decoration: none;
    color: black;
}

.main__pc-info-label {
    font-size: 3.6rem;
    font-weight: 400;
    font-style: italic;
}

.main__pc-info-blabel {
    font-size: 3.6rem;
    font-weight: 700;
    font-style: italic;
}

.main__pc-info-line {
    height: 3px;
    background-color: white;
    margin: 2rem 0;
}

.main__pc-exit {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.main__pc-exit-btn {
    padding: 1.5rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    text-align: center;
    border-radius: 50px;
    margin: 1rem 0 1rem 0;
    display: block;
    width: 20%;
}

.main__pc-exit-btn:hover{
    background-color: #EF075B;
}

.main__contacts {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3.2rem;
    margin: 4rem auto;
}

.main__contacts-item {
    width: 25%;
}

.main__contacts-item-title {
    border-bottom: 3px solid #202846;
    margin-bottom: 1rem;
}

.main__contacts-item-content {
    text-align: center;
}

.main__contacts-item-content a {
    text-decoration: none;
    color: black;
}

.main__contacts-address {
    width: 35%;
}

.main__contacts-map {
    width: 60%;
}

footer {
    background: #202846;
    height: 9rem;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 3.6rem;
    font-style: italic;
}

footer div{
    margin-left: 10%;
}

.fixed_button {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 2rem;
    bottom: 20rem;
    background-color: #55576899;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
}